<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
      $(document).ready(function() {
          var boardIdx = $("#boardIdx").val();

          $("#btn-list").on("click", function() {
              location.href = "/board";
          });

          $("#btn-edit").on("click", function() {
              $("#method").val("PUT");
              var frm = $("#frm")[0];
              frm.action = "/board/" + boardIdx;
              frm.submit();
          });

          $("#btn-delete").on("click", function() {
              $("#method").val("DELETE");
              var frm = $("#frm")[0];
              frm.action = "/board/" + boardIdx;
              frm.submit();
          });
      });
  </script>
</head>
<body>
<header class="container">
  <div class="mt-4 p-5 bg-secondary bg-opacity-75 text-white rounded text-center">
    <h1>부트스트랩을 사용한 게시판 만들기</h1>
    <h3>게시글 상세 확인</h3>
  </div>
</header>

<main class="container mt-4">
  <section>
    <form id="frm" method="post">
      <article class="row">
        <div class="col-md-8 mx-auto">
          <div class="row my-2">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text">글번호</span>
                <input type="text" class="form-control" th:value="${board.boardIdx}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text">조회수</span>
                <input type="text" class="form-control" th:value="${board.hitCnt}">
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text">작성자</span>
                <input type="text" class="form-control" name="createId" th:value="${board.createId}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text">작성일</span>
                <input type="text" class="form-control" name="createDate" th:value="${board.createDate}">
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md">
              <div class="input-group">
                <span class="input-group-text">제목</span>
                <input type="text" class="form-control" name="title" th:value="${board.title}">
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md">
              <div>
                <textarea rows="10" class="form-control" name="contents" th:text="${board.contents}"></textarea>
              </div>
            </div>
          </div>
<!--          <div class="row my-2">-->
<!--            <div class="col-md">-->
<!--              <ul class="list-group" th:if="${#lists.size(board.fileList)} > 0" th:each="item : ${board.fileList}">-->
<!--                <li class="list-group-item"><a th:text="|${item.originalFileName} (${item.fileSize}kb)|" th:href="@{/board/downloadBoardFile.do(idx=${item.idx},boardIdx=${item.boardIdx})}">파일</a></li>-->
<!--              </ul>-->
<!--              <ul class="list-group" th:unless="${#lists.size(board.fileList)} > 0">-->
<!--                <li class="list-group-item">파일이 없습니다.</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </article>
      <article class="row my-3">
        <div class="col-md-8 mx-auto">
          <div class="d-flex">
            <input type="hidden" id="boardIdx" name="boardIdx" th:value="${board.boardIdx}">
<!--            기본적으로 Http 프로토콜에서는 데이터를 전송하는 방식에 따라 GET, POST 두 가지 방식만 인식함 -->
<!--            스프링 프레임워크에서는 restFul 방식을 사용하기 위해서 input 태그의 name이 _method인 태그의 value 속성을 사용하여 GET, POST, PUT, DELETE 를 사용하는 restFul 방식을 구현하고 있음 -->
            <input type="hidden" id="method" name="_method">

            <button type="button" id="btn-list" class="btn btn-secondary me-auto">목록</button>
            <button type="button" id="btn-edit" class="btn btn-warning">수정</button>
            <button type="button" id="btn-delete" class="btn btn-danger ms-2">삭제</button>
          </div>
        </div>
      </article>
    </form>
  </section>
</main>

<footer class="container-fluid border-top text-center p-5 mt-4">
  <p class="text-muted lead">made by bitc</p>
</footer>
</body>
</html>